#jinja2: trim_blocks:False
## Latest options listed at https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/files/gitlab-config-template/gitlab.rb.template

## GitLab URL
##! URL on which GitLab will be reachable.
##! For more details on configuring external_url see:
##! https://docs.gitlab.com/omnibus/settings/configuration.html#configuring-the-external-url-for-gitlab
external_url "{{ gitlab_config_external_url }}"

{% if proxy_env is defined -%}
gitlab_rails['env'] = {
  "http_proxy" => "{{ proxy_env.http_proxy }}",
  "https_proxy" => "{{ proxy_env.https_proxy }}",
  "no_proxy" => "{{ proxy_env.no_proxy }}"
}
{% endif %}

{% if gitlab_config_timezone is defined -%}
gitlab_rails['timezone'] = "{{ gitlab_config_timezone }}"
{% endif %}

{%- if gitlab_config_email_enabled is defined and gitlab_config_email_enabled %}
### Email Settings
gitlab_rails['gitlab_email_enabled'] = true

{%- if gitlab_config_email_from is defined %}
gitlab_rails['gitlab_email_from'] = "{{ gitlab_config_email_from }}"
{%- endif %}

{%- if gitlab_config_email_display_name is defined %}
gitlab_rails['gitlab_email_display_name'] = "{{ gitlab_config_email_display_name }}"
{%- endif %}

{%- if gitlab_config_email_reply_to is defined %}
gitlab_rails['gitlab_email_reply_to'] = "{{ gitlab_config_email_reply_to }}"
{%- endif %}
{% endif %}

{%- if gitlab_config_impersonation_enabled is defined %}
# Impersonation settings
gitlab_rails['impersonation_enabled'] = {{ gitlab_config_impersonation_enabled | to_json }}
{% endif %}

{%- if gitlab_config_usage_ping is defined %}
### Usage Statistics
gitlab_rails['usage_ping_enabled'] = {{ gitlab_config_usage_ping | to_json }}
{% endif %}

{%- if gitlab_config_ldap_enabled is defined and gitlab_config_ldap_enabled %}
### LDAP Settings
###! Docs: https://docs.gitlab.com/omnibus/settings/ldap.html
###! **Be careful not to break the indentation in the ldap_servers block. It is
###!   in yaml format and the spaces must be retained. Using tabs will not work.**

gitlab_rails['ldap_enabled'] = true

###! **remember to close this block with 'EOS' below**
gitlab_rails['ldap_servers'] = YAML.load <<-'EOS' # remember to close this block with 'EOS' below
  main: # 'main' is the GitLab 'provider ID' of this LDAP server
    label: '{{ gitlab_config_ldap_label }}'
    host: '{{ gitlab_config_ldap_host }}'
    port: {{ gitlab_config_ldap_port }}
    uid: '{{ gitlab_config_ldap_uid }}'
    bind_dn: '{{ gitlab_config_ldap_bind_dn }}'
    password: '{{ gitlab_config_ldap_password }}'
    encryption: '{{ gitlab_config_ldap_encryption }}' # "tls" or "ssl" or "plain"
    verify_certificates: {{ gitlab_config_ldap_verify_certificates | to_json }}
    ssl_version: '{{ gitlab_config_ldap_ssl_version | default("") }}'
    timeout: {{ gitlab_config_ldap_timeout| default(10) }}
    active_directory: {{ gitlab_config_ldap_active_directory | default(true) | to_json }}
    allow_username_or_email_login: {{ gitlab_config_allow_username_or_email_login | default(false) | to_json }}
    lowercase_usernames: {{ gitlab_config_ldap_lowercase_usernames | default(false) | to_json }}
    block_auto_created_users: {{ gitlab_config_ldap_block_auto_created_users | default(false) | to_json }}
    base: '{{ gitlab_config_ldap_base }}'
    user_filter: '{{ gitlab_config_ldap_user_filter }}'
{%- if gitlab_config_ldap_attributes is defined %}
    attributes:
      username: {{ gitlab_config_ldap_attributes.username }}
      email: {{ gitlab_config_ldap_attributes.email }}
      name: '{{ gitlab_config_ldap_attributes.name }}'
      first_name: '{{ gitlab_config_ldap_attributes.first_name }}'
      last_name: '{{ gitlab_config_ldap_attributes.last_name }}'
{%- endif %}
{%- if gitlab_config_ldap_group_base is defined %}
    group_base: '{{ gitlab_config_ldap_group_base }}'
{%- endif %}
{%- if gitlab_config_ldap_admin_group is defined %}
    admin_group: '{{ gitlab_config_ldap_admin_group }}'
{%- endif %}
{%- if gitlab_config_ldap_external_groups is defined %}
    external_groups: '{{ gitlab_config_ldap_external_groups | to_json }}'
{%- endif %}
EOS
{% endif %}

{% if gitlab_config_ldap_sync_worker_cron is defined %}
gitlab_rails['ldap_sync_worker_cron'] = {{ gitlab_config_ldap_sync_worker_cron | to_json }}
{% endif %}

{%- if gitlab_config_backup_upload is defined %}
### Backup Settings
###! Docs: https://docs.gitlab.com/ce/raketasks/backup_restore.html
gitlab_rails['backup_upload_connection'] = {
{%- for key,value in gitlab_config_backup_upload.items() %}
  {{ key | to_json }} => {{ value | to_json }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{% if gitlab_config_backup_upload_remote_directory is defined %}
gitlab_rails['backup_upload_remote_directory'] = "{{ gitlab_config_backup_upload_remote_directory }}"
{% endif %}
{% elif gitlab_config_manage_backup_path is defined and gitlab_config_manage_backup_path %}
### Backup Settings
###! Docs: https://docs.gitlab.com/omnibus/settings/backups.html
gitlab_rails['manage_backup_path'] = true
gitlab_rails['backup_path'] = "{{ gitlab_config_backup_path }}"
{% endif %}

{%- if gitlab_config_backup_archive_permissions is defined %}
###! Docs: https://docs.gitlab.com/ce/raketasks/backup_restore.html#backup-archive-permissions
gitlab_rails['backup_archive_permissions'] = {{ gitlab_config_backup_archive_permissions }}
{% endif %}

{%- if gitlab_config_backup_keep_time is defined %}
###! The duration in seconds to keep backups before they are allowed to be deleted
gitlab_rails['backup_keep_time'] = {{ gitlab_config_backup_keep_time }}
{% endif %}

{%- if gitlab_config_smtp_enabled is defined and gitlab_config_smtp_enabled %}
### GitLab email server settings
###! Docs: https://docs.gitlab.com/omnibus/settings/smtp.html
###! **Use smtp instead of sendmail/postfix.**
gitlab_rails['smtp_enable'] = true
gitlab_rails['smtp_address'] = "{{ gitlab_config_smtp_address }}"
gitlab_rails['smtp_port'] = {{ gitlab_config_smtp_port }}
{% endif %}

{%- if gitlab_config_registry_enabled is defined and gitlab_config_registry_enabled %}
################################################################################
## Container Registry settings
##! Docs: https://docs.gitlab.com/ce/administration/container_registry.html
################################################################################
registry_external_url "{{ gitlab_config_registry_external_url }}"
registry['enable'] = true
{% if gitlab_config_registry_backend_storage is defined %}
### Registry backend storage
###! Docs: https://docs.gitlab.com/ce/administration/container_registry.html#container-registry-storage-driver
registry['storage'] = {
{%- for driver,config in gitlab_config_registry_backend_storage.items() %}
  {{ driver | to_json }} => {
  {%- for key,value in config.items() %}
    {{ key | to_json }} => {{ value | to_json }}{% if not loop.last %},{% endif %}
  {%- endfor %}
  }{% if not loop.last %},{% endif %}
{%- endfor %}
}
{%- endif %}
{%- if gitlab_config_registry_nginx_ssl_certificate is defined %}
registry_nginx['ssl_certificate'] = "{{ gitlab_config_registry_nginx_ssl_certificate}}"
{%- endif %}
{%- if gitlab_config_registry_nginx_ssl_certificate_key is defined %}
registry_nginx['ssl_certificate_key'] = "{{ gitlab_config_registry_nginx_ssl_certificate_key}}"
{%- endif %}
{% endif %}

{%- if gitlab_config_postgresql_shared_buffers is defined %}
################################################################
## GitLab PostgreSQL
################################################################

###! Changing any of these settings requires a restart of postgresql.
###! By default, reconfigure reloads postgresql if it is running. If you
###! change any of these settings, be sure to run `gitlab-ctl restart postgresql`
###! after reconfigure in order for the changes to take effect.

##! **recommend value is 1/4 of total RAM, up to 14GB.**
postgresql['shared_buffers'] = "{{ gitlab_config_postgresql_shared_buffers }}"
{% endif %}

{%- if gitlab_config_prometheus_enabled is defined and gitlab_config_prometheus_enabled %}
################################################################################
## Prometheus
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/prometheus/
################################################################################

prometheus['enable'] = true
{% if gitlab_config_prometheus_node_exporter_enabled is defined and gitlab_config_prometheus_node_exporter_enabled%}
################################################################################
## Prometheus Node Exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/prometheus/node_exporter.html
################################################################################

node_exporter['enable'] = true
{% endif %}
{% if gitlab_config_prometheus_redis_exporter_enabled is defined and gitlab_config_prometheus_redis_exporter_enabled%}
################################################################################
## Prometheus Redis exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/prometheus/redis_exporter.html
################################################################################

redis_exporter['enable'] = true
{% endif %}
{% if gitlab_config_prometheus_postgres_exporter_enabled is defined and gitlab_config_prometheus_postgres_exporter_enabled%}
################################################################################
## Prometheus Postgres exporter
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/prometheus/postgres_exporter.html
################################################################################

postgres_exporter['enable'] = true
{% endif %}
{% if gitlab_config_prometheus_gitlab_monitor_enabled is defined and gitlab_config_prometheus_gitlab_monitor_enabled%}
################################################################################
## Prometheus Gitlab monitor
##! Docs: https://docs.gitlab.com/ce/administration/monitoring/prometheus/gitlab_monitor_exporter.html
################################################################################

gitlab_monitor['enable'] = true
{% endif %}
{% endif %}

{%- if gitlab_config_prometheus_monitoring_enabled is defined %}
# To completely disable prometheus, and all of it's exporters, set to false
prometheus_monitoring['enable'] = {{ gitlab_config_prometheus_monitoring_enabled | to_json }}
{% endif %}

{%- if gitlab_config_enable_https is defined and gitlab_config_enable_https %}
################################################################################
## GitLab NGINX
##! Docs: https://docs.gitlab.com/omnibus/settings/nginx.html
################################################################################

nginx['ssl_certificate'] = "{{ gitlab_config_pki_cert_dest }}"
nginx['ssl_certificate_key'] = "{{ gitlab_config_pki_key_dest }}"
{% if gitlab_config_nginx_redirect_to_https is defined and gitlab_config_nginx_redirect_to_https %}
nginx['redirect_http_to_https'] = true
{% endif %}
{% endif %}

{%- if gitlab_config_omniauth_enabled is defined and gitlab_config_omniauth_enabled %}
### OmniAuth Settings
###! Docs: https://docs.gitlab.com/ce/integration/omniauth.html
gitlab_rails['omniauth_enabled'] = true
{%- if gitlab_config_omniauth_allow_sso is defined %}
gitlab_rails['omniauth_allow_single_sign_on'] = {{ gitlab_config_omniauth_allow_sso | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_sync_email_from_provider is defined %}
gitlab_rails['omniauth_sync_email_from_provider'] = "{{ gitlab_config_omniauth_sync_email_from_provider }}"
{%- endif %}
{%- if gitlab_config_omniauth_sync_profile_from_provider is defined %}
gitlab_rails['omniauth_sync_profile_from_provider'] = {{ gitlab_config_omniauth_sync_profile_from_provider | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_sync_profile_attributes is defined %}
gitlab_rails['omniauth_sync_profile_attributes'] = {{ gitlab_config_omniauth_sync_profile_attributes | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_auto_sign_in_with_provider is defined %}
gitlab_rails['omniauth_auto_sign_in_with_provider'] = "{{ gitlab_config_omniauth_auto_sign_in_with_provider }}"
{%- endif %}
{%- if gitlab_config_omniauth_block_auto_created_users is defined %}
gitlab_rails['omniauth_block_auto_created_users'] = {{ gitlab_config_omniauth_block_auto_created_users | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_auto_link_ldap_user is defined %}
gitlab_rails['omniauth_auto_link_ldap_user'] = {{ gitlab_config_omniauth_auto_link_ldap_user | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_auto_link_saml_user is defined %}
gitlab_rails['omniauth_auto_link_saml_user'] = {{ gitlab_config_omniauth_auto_link_saml_user | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_external_providers is defined %}
gitlab_rails['omniauth_external_providers'] = {{ gitlab_config_omniauth_external_providers | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_allow_bypass_two_factor is defined %}
gitlab_rails['omniauth_allow_bypass_two_factor'] = {{ gitlab_config_omniauth_allow_bypass_two_factor | to_json }}
{%- endif %}
{%- if gitlab_config_omniauth_providers is defined %}
gitlab_rails['omniauth_providers'] = {{ gitlab_config_omniauth_providers }}
{%- endif %}
{%- endif %}

{%- if gitlab_config_custom_env_vars is defined %}
##! Docs: https://docs.gitlab.com/omnibus/settings/environment-variables.html
{%- for component,env_vars in gitlab_config_custom_env_vars.items() %}
{{ component }}['env'] = {
{%- for var in env_vars %}
  {{ var.key | to_json }} => {{ var.value | to_json }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{% endfor %}
{%- endif %}

{%- if gitlab_config_custom is defined %}
{{ gitlab_config_custom }}
{% endif %}
